body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.form-box {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

table {
    margin: 20px auto;
    width: 70%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}